.pre-wrap {
  white-space: pre-wrap;
}
@mixin ellipsis {
  // white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@for $i from 1 through 1000 {
  .w#{$i}px {
    width: #{$i}px !important;
    max-width: #{$i}px;

    @include ellipsis;
  }
}

@for $i from 1 through 500 {
  .h#{$i}px {
    height: #{$i}px !important;
    max-height: #{$i}px;
  }
}

@for $i from -100 through 400 {
  .mt#{$i}px {
    margin-top: #{$i}px !important;
  }
}

@for $i from -100 through 400 {
  .mb#{$i}px {
    margin-bottom: #{$i}px !important;
  }
}
@for $i from 0 through 400 {
  .ml#{$i}px {
    margin-left: #{$i}px !important;
  }
}

@for $i from 0 through 400 {
  .mr#{$i}px {
    margin-right: #{$i}px !important;
  }
}

@for $i from 0 through 400 {
  .pl#{$i}px {
    padding-left: #{$i}px !important;
  }
}

@for $i from 0 through 400 {
  .pr#{$i}px {
    padding-right: #{$i}px !important;
  }
}
@for $i from 0 through 400 {
  .pt#{$i}px {
    padding-top: #{$i}px !important;
  }
}

@for $i from 0 through 400 {
  .pb#{$i}px {
    padding-bottom: #{$i}px !important;
  }
}

@for $i from 0 through 50 {
  .gap#{$i}px {
    gap: #{$i}px !important;
  }
}

.cursor__pointer {
  cursor: pointer;
}
.line__clamp__2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  // width: 150px;
  // height: 50px;
}
.capitalize {
  text-transform: capitalize;
}
.scale {
  &:hover {
    transform: scale(1.05);
  }
}

.line__through {
  text-decoration: line-through;
}
.underline {
  text-decoration: underline;
}
.df {
  display: flex;
}
.content__between {
  justify-content: space-between;
}

.content__end {
  justify-content: flex-end;
}
.ed1c24 {
  color: #ed1c24 !important;
}
.fw600{
  font-weight: 600;
}
.color__1890ff {
  color: #1890ff !important;
}

.shadow__orangered{
  font-weight: 600;
  -webkit-text-shadow: 0 0 10px orangered, 0 0 20px orangered,
    0 0 40px orangered, 0 0 80px orangered, 0 0 120px orangered;
  text-shadow: 0 0 10px orangered, 0 0 20px orangered, 0 0 40px orangered,
    0 0 80px orangered, 0 0 120px orangered;
}
.Chat {
  color: black;
  border: 1px #ed1c24 solid;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  .co__chat {
    color: #ed1c24;
    font-size: 14px;
    font-weight: 700;
  }
  .ani {
    animation: reng 1.2s ease-in-out infinite;
  }
  @keyframes reng {
    0% {
      scale: 0.9;
      transform: rotate(-10deg);
    }
    50% {
      scale: 0.9;
      transform: rotate(0);
    }
    100% {
      scale: 1.1;
      transform: rotate(10deg);
    }
  }
}
.direction__column {
  flex-direction: column;
}
.direction__row {
  flex-direction: row;
}