.ProductGridItem {
  .img__GridItem {
    width: 270px;
    height: 194px;

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
  }
}

.ChatBox {
  #section-1 {
      margin-top: 20px;
  }
  .ppp {
    //   position: fixed;
      right: 5%;
      bottom: 5%;
      box-shadow: 0 0 8px 0 blueviolet;
      border-radius: 4px;
      cursor: pointer;
      z-index: 999;
      border-radius: 50%;
  }
  .box__chat {
    //   position: fixed;
      right: 0;
      left: 60%;
      bottom: 0;
      box-shadow: 0 0 8px 0 blueviolet;
      border-radius: 4px;
      z-index: 999;
      cursor: pointer;
  }
  @keyframes showMessage {
      from {
          opacity: 0.4;
          scale: 1.05;
      }
      to {
          opacity: 1;
          scale: 1;
      }
  }
  .box__chat_message {
      min-height: 40vh;
      max-height: 40vh;
      overflow-y: auto;
      background: linear-gradient(rgb(222, 204, 204), rgb(230, 223, 108));

      .your__message {
          margin: 10px;
          padding: 10px;
          color: white;
          float: right;
          width: 50%;
          opacity: 0.4;
          word-wrap: break-word;

          animation: showMessage 0.7s 0.2s linear forwards;
          p {
              font-size: 10px;
              color: #000;
          }
          div {
              background: #009bff;
              border-radius: 10px;
              padding: 10px;
          }
      }

      .other__people {
          p {
              font-size: 10px;
              color: #000;
          }

          margin: 10px;
          padding: 10px;
          color: white;
          text-align: left;
          float: left;
          width: 50%;
          opacity: 0.4;
          animation: showMessage 0.7s 0.2s linear forwards;
          word-wrap: break-word;

          div {
              background: #868686;
              border-radius: 10px;
              padding: 10px;
          }
      }
  }

  .send__box {
      width: 100%;
      padding: 10px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: #fff;
  }
  .box__chat__name {
      background-color: blueviolet;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      padding: 10px;
      flex: 20px;
      color: white;
      text-transform: capitalize;
      font-weight: 600;
      letter-spacing: 1px;
      margin-bottom: 0;
  }
  textarea {
      width: 80%;
      background: #ebf5ff;
      border-radius: 8px;
      float: left;
      padding: 10px;
  }

  .send__box__button {
      background: #6650ff;
      color: white;
      border: none;
      cursor: pointer;
      text-align: center;
      padding: 10px;
      border-radius: 6px;
  }
  .send__box__button:hover {
      background: black;
  }
  textarea:focus {
      outline: 0;
  }
  .dn {
      display: none;
  }
  .dn{
    display: none;
  }
  /* width */
  ::-webkit-scrollbar {
      width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
      background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #dadada;
      border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: #555;
  }
}
