.ProductGridItem {
    .img__GridItem {
      width: 270px;
      height: 194px;
  
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center center;
    }
  }