.Variant__comp {
  border: 1px solid cadetblue;
  padding: 20px;
  border-radius: 10px;
}
.dataTable {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.dn{
  display: none;
}
.color__ff4545 {
  color: #ff4545;
}
.color__green {
  color: green;
}
.items__center{
  display: flex;
  align-items: center;
}